#search a[data-ved][ping] {
  position: relative;
}

#search a[data-ved][ping]:focus {
  left: 12px;
}

#search a[data-ved][ping]:focus::before {
  content: ' ';
  position: absolute;
  bottom: 6px;
  left: -12px;
  background-color: #5f6368;
  height: calc(10px / 2 * tan(60deg));
  width: 10px;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}

/* 「J」押下時に画面左下に表示される、「/を押すと検索ボックスに移動できます」を非表示 */
div[aria-live="polite"] {
  display: none;
}
